<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/chat.css">
</head>
<body>

    <aside>
        <a>These buttons dont work</a>
    </aside>

    <div class="name-input">
        <input id="change-name-input" type="text" placeholder="CheeseGuy1234">
        <button id="change-name-btn">Change Name!</button>
    </div>

    <ul id="log"></ul>
    <form>
        <input id="msg-input" type="text" placeholder="I love nachos...">
        <button>Submit</button>
    </form>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
</body>
</html>